@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin-left: 100px;
    margin-right: 100px;
}
ul {
    list-style-type: none;
}
li {
    margin-left: 12px;
}
.nomargin{
    margin-left: 0px;
}
.menu {
    font-size: x-large;
    color: #070760;
}
.nav-pills .nav-link.active {
    background-color: #212529;
}
.nav-pills .nav-link.white {
    background-color: #6c757d;
    color: white;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
}
.card-deck {
    flex-basis: 30%;
}
.card-deck.one {
    flex-basis: 100%;
}
.card {
}