<html lang="en">
<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<br>
<body>
<a href="/">Back</a>
<div class="wrapper">
    <br>
    <p>Log in here!</p>
    <form method="post" action="/users/login" >
        <label for="input_email">E-mail:</label><br>
        <input type="text" id="input_email" name="input_email"><br><br>
        <label for="input_password">Password:</label><br>
        <input type="password" id="input_password" name="input_password"><br><br>
        <button type="submit" name="submit">LOG IN</button>
    </form>
</div>
</body>