<head>
    <title>FriendsApp</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<br>
<a href="/">Back</a>
<div class="wrapper">
    <h2>Don't have an account yet?</h2>
    <h4>Sign up here!</h4>
    <form method="post" action="/users" >
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" name="surname"><br><br>
        <label for="birthday">Birthday:</label><br>
        <input type="date" id="birthday" name="birthday" ><br><br>
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="password_repeat">Repeat password:</label><br>
        <input type="password" id="password_repeat" name="password_repeat"><br>
        <br>
        <button type="submit" name="submit">SIGN UP</button>
    </form>
</div>
