{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<a href="/apartments">Back</a>
{% endblock %}
<br><br>
<h2>Create apartment</h2>
{% if emptyInputs != "" %}
<small style="color:red;">*{{ emptyInputs }}</small>
<br>
{% endif %}
<form method="post" action="/apartments">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ name }}"/>
    </div>
    <br>
    <div>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{ address }}"/>
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea  id="description" name="description" >{{ description }}</textarea>
    </div>
    <br>
    <div>
        <label for="available_from">Available from:</label><br>
        <input type="date" id="available_from" name="available_from" />
    </div>
    <br>
    <div>
        <label for="available_to">Available to:</label><br>
        <input type="date" id="available_to" name ="available_to" />
    </div>
    <br>
    <small style="color:gray;">If dates will not be provided, 'from' date will be set to today's date and 'to' date will be set to last day of this year.</small>
    <br>
    <div>
        <label for="price">Price per night:</label><br>
        <input type="text" id="price" name ="price" value="100.00"/>
    </div>
    <br>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
{% endif %}
{% endblock %}