{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<a href="/apartments">Back</a>
{% endblock %}
<br><br>
<h2>Create apartment</h2>

<form method="post" action="/apartments">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ name }}"/>
    </div>
    <br>
    <div>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{ address }}"/>
    </div>
    <br>
    <div>
        <label for="description">Description:</label><br>
        <textarea  id="description" name="description" >{{ description }}</textarea>
    </div>
    <br>
    <div>
        <label for="available_from">Available from:</label><br>
        <input type="date" id="available_from" name="available_from" />
    </div>
    <br>
    <div>
        <label for="available_to">Available to:</label><br>
        <input type="date" id="available_to" name ="available_to" />
    </div>
    <br>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
{% endif %}
{% endblock %}