{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/users/{{ activeId }}/apartments">Back</a>
    </li>
</ul>
{% endblock %}
<br>
<div>
    <h2>Edit apartment</h2>
    <form method="post" action="/apartments/{{ apartment.id }}">
        <div>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ apartment.name }}" required><br>
        </div>
        <br>
        <div>
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" value="{{ apartment.address }}" required><br>
        </div>
        <br>
        <div>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" required>{{ apartment.description }}</textarea><br>
        </div>
        <br>
        <div>
            <label for="price">Price per night, EUR:</label><br>
            <input type="text" id="price" name="price" value="{{ apartment.price }}" required><br>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-outline-dark" name="submit">Update</button>
        </div>
    </form>
</div>

{% endif %}
{% endblock %}