<!doctype html>
<html lang="en">
<head>
    <title>BookingApp</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body id="body">

<header id="header">

</header>
<h2>All apartments</h2>
<p>
    (<a href="/apartments/create">Create</a>)
</p>
<br>
<div id="content">
<ul>
    {% for apartment in apartments %}
    <li>
        <a class="nomargin" href="/apartments/{{ apartment.id }}">{{ apartment.name }}</a>
        <br>
        ({{ apartment.address }})
    </li>
    <br>
    {% endfor %}
</ul>
</div>
</body>
</html>
