{% extends "base.html" %}

{% block content %}
{% if active != "" %}
<br>
{% block back %}
<a href="/apartments">Back</a>
{% endblock %}
<br><br>
<h2>{{ apartment.name }}</h2>
<p>
    Address: {{ apartment.address }}
    <br>
    Description: {{ apartment.description }}
    <br>
    {{ apartment.price }} EUR per night
    <br>
</p>
<p>
    {% if apartment.ownerId == activeId %}
    (<a href="/apartments/{{ apartment.id }}/edit">Edit</a></small>)
    {% endif %}
</p>
<form method="post" action="/apartments/{{ apartment.id }}/delete">
    {% if apartment.ownerId == activeId %}
    <button type="submit" onclick="return confirm('Are you sure you want to delete this apartment?')">Delete apartment</button>
    {% endif %}
</form>
<p>
<a href="/apartments/{{ apartment.id }}/reserve">Make a reservation</a>
</p>

<p>
<form method="post" action="/apartments/{{ apartment.id }}/review">
        <div>
        {% if emptyReview != "" %}
        <small style="color:red;">{{ emptyReview }}</small>
        <br>
        {% endif %}
        <label for="review">Leave your review:</label><br>
        <textarea type="text" id="review" name="review"></textarea>
    </div>
    <br>
    <div>
        <button type="submit">Add review</button>
    </div>
</form>
</p>
<p>
<h5>REVIEWS ({{ numberOfReviews }})</h5>
<ul class="list-group">
    {% for review in reviews %}
    <li class="list-group-item list-group-item-success">
        <br>
        <small>{{ review.createdAt }}</small>
        <br>
        <small>Author: {{ review.author }}</small>
        <br>
        {{ review.text }}
        <br>
        <form method="post" action="/apartments/{{ apartment.id }}/erase/{{ review.id }}">
            {% if review.author == active %}
            <button type="submit" onclick="return confirm('Are you sure you want to delete this review?')">X</button>
            {% endif %}
        </form>
    </li>
    {% endfor %}
    <br>
</ul>
</p>
{% endif %}
{% endblock %}